body{
    background-color: black;
    color: white;
}
.title{
    text-align: center;
}
.result{
    text-align: center;
}
.player{
    display: flex;
    justify-content: center;
    gap: 100px;
}
.js-dice{
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
}
.button{
    display: block;
    margin: 20px auto;
    padding: 15px 40px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
}